@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        #center_div {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 50%;
            margin-top: -100px;
            margin-left: -150px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="center_div">
        <a href="/Home/AutoPack/?nType=1"> BETA版本APK</a><br /><br />
        <a href="/Home/AutoPack/?nType=2"> BETA版本更新</a><br /><br />
        <a href="/Home/AutoPack/?nType=3"> 正式版本APK</a><br /><br />
        <a href="/Home/AutoPack/?nType=4"> 正式版本更新</a><br /><br />
    </div>
</body>
</html>
